#left_eye {
    position: absolute;
    top: 29.2%;
    left: 34.2%;

}

#right_eye {
    position: absolute;
    top: 29.2%;
    left: 59%;
}



.message {
    margin: 60px 0px;

    border-radius: 5px;

    background: #AEDFE4;
    padding: 20px;
    text-align: center;

    position: relative;
}

.message::after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #AEDFE4;
    border-top: 10px solid #AEDFE4;
    border-bottom: 10px solid transparent;
    left: -19px;
    top: 6px;
}